{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "trailingComma": "none",
    "overrides": [
        {
            "files": ["**/*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
